.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
    background: rgba(0,0,0,0.9);
    transition: all 0.5s ease;
    padding: 0;   
}
.sunglasses-section{
    span{       
        color: red;
        position: fixed;
        right: 5px;
        top: 0;
        cursor: pointer;
        font-size: 40px;
        z-index: 9; 
}
.sunglasses-row{
    position: absolute;
    top: 0;
    z-index: 8;
    margin: 30px 30px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
}
.sunglasses-row>.col-4{
    display: inline-flex;
    border-radius: 10px;
}
.frames-row{
    position: absolute;
    top: 0;
    z-index: 8;
    margin: 45px 30px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
}
.frames-row>.col-4{
    display: inline-flex;
    border-radius: 10px;
}
}