.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#0f0f0f), color-stop(50%, #223c6c));
  background-image: linear-gradient(90deg, #0f0f0f 0%, #223c6c 50%);
  -webkit-transition: padding 400ms ease;
  transition: padding 400ms ease;
}

.header__navbar .logo-name {
  position: relative;
  font-size: 24px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  left: -55px;
}

@media (max-width: 575px) {
  .header__navbar .logo-name {
    font-size: 20px;
  }
}

.header__navbar .toggle {
  cursor: pointer;
}

.header__navbar .toggle span {
  color: #fff;
  font-size: 25px;
}

.header__logo img {
  width: 100px;
  max-width: 200px;
  margin-left: 20px;
  -webkit-animation: logo-rotation 10s infinite linear;
          animation: logo-rotation 10s infinite linear;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.header__menu__items__home, .header__menu__items__frames, .header__menu__items__sunglasses, .header__menu__items__galleries {
  margin: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.header__menu__items__home:hover, .header__menu__items__frames:hover, .header__menu__items__sunglasses:hover, .header__menu__items__galleries:hover {
  color: red;
  color: red;
  -webkit-transform: scaleX(1.2) scaleY(1.5);
          transform: scaleX(1.2) scaleY(1.5);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transition: -webkit-transform 0;
  transition: -webkit-transform 0;
  transition: transform 0;
  transition: transform 0, -webkit-transform 0;
}

.header__menu.move {
  -webkit-transform: translateX(-180px);
          transform: translateX(-180px);
}

@-webkit-keyframes logo-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 575px) {
  .header__navbar {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu {
    display: none;
  }
}
/*# sourceMappingURL=Header.css.map */