.header{
    &__navbar{
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 2;
        width: 100%;
        background-image: linear-gradient(90deg, #0f0f0f 0%, #223c6c 50%);
        transition: padding 400ms ease;
        .logo-name{
            position: relative;
            font-size: 24px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: white;
            left: -55px;
            @media (max-width: 575px) {
                font-size: 20px;
            }
        }
        .toggle{
            cursor: pointer;
            span{
                color: #fff;
                font-size: 25px;
            }
        }
    }
    &__logo{
        img{
            width: 100px;
            max-width: 200px;
            margin-left: 20px;
            animation: logo-rotation 10s infinite linear;
            transition: transform 400ms ease;
            
        }
        
    }
    &__menu{
        display: flex;
        transition: transform 1s ease;
        &__items{
            margin:15px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        }
        &.move{
            transform: translateX(-180px);
        }
    }
}



@keyframes logo-rotation{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }


    // media queries

@media (max-width: 575px) {
    .header{
        &__navbar{
            position: relative;
            justify-content: center;
            align-items: center;
            
        }
        &__menu{
            display: none;
        }
    }
    
}

