.Banner{
    text-align: center;
    width: 100%;
    padding: 300px 0;
    background: #000;
    animation: color-animate 9s linear infinite;

}
.Banner .frame-logo{
    width: 500px;
    max-width: 500px;
}

.overlay{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 800px;
    height: 500px;
    max-width: 1000px;
    top: 50%;
    left: 18%;
    z-index: 100;
}
.overlay .carousel{
    position: absolute;
    top: 10%;

}

@keyframes color-animate {
    0%{
        background: linear-gradient(0deg, #0a0a0a, #750000);
    }
    20%{
        background: linear-gradient(0deg, #560b49, #423e00);
    }
    40%{
        background: linear-gradient(0deg, #470000, #470038);
    }
}


/* media queries */

@media(max-width:1024px){
    .overlay{
        width: 861px;
        height: 433px;
        max-width: 680px;
    }
}
@media (max-width:768px){
    .Banner img{
        max-width: 350px;
    }
    .Banner{
        animation: none;
    }
    .overlay{
        border-radius: 20px;
        max-width: 468px;
        height: 360px;
        box-shadow: 0 0px 17px 15px red;
    }
    .overlay .carousel{
        display: none;
    }
    .overlay:hover{
        box-shadow: 2px 2px 2px #fff;
    }
}

@media (max-width: 575px){
    .Banner img{
        max-width: 320px;
    }
    .overlay{
        display: none;
    }
    .Banner .frame-logo {
        width: 500px;
        max-width: 300px;
    }
    .Banner .overlay .carousel{
        display: none;
    }
}