.Banner{
    text-align: center;
    width: 100%;
    background: #000;
    //animation: color-animate 9s linear infinite;

}
.Banner .frame-logo{
    width: 500px;
    max-width: 500px;
}

.overlay{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 800px;
    height: 500px;
    max-width: 1000px;
    top: 50%;
    left: 18%;
    z-index: 100;
}

@keyframes color-animate {
    0%{
        background: linear-gradient(0deg, #0a0a0a, #750000);
    }
    20%{
        background: linear-gradient(0deg, #560b49, #423e00);
    }
    40%{
        background: linear-gradient(0deg, #470000, #470038);
    }
}


/* media queries */

@media(max-width:1024px){
    .overlay{
        width: 861px;
        height: 433px;
        max-width: 680px;
    }
}
@media (max-width:768px){
    .Banner{
        animation: none;
    }
}

@media (max-width: 575px){
   
}